/*  GRID OF ONE   ============================================================================= */




.span_1_of_1 {
	width: 99.9%;
	height: 100%;
        overflow: hidden;
}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_1_of_1 {
		width: 100%;
		height: 100%;
		overflow: hidden;
		
	}       

}
